<h1>Editing bibliotheca</h1>

<%= render "form", bibliotheca: @bibliotheca %>

<br>

<div>
  <%= link_to "Show this bibliotheca", @bibliotheca %> |
  <%= link_to "Back to bibliothecas", bibliothecas_path %>
</div>
